/LEC/Activities/Library

/LEC/Luxo animation/Library
/LAB/LAB-01-CHARLEEN/Library
/LEC/Activities/obj
/LAB/LAB-01-CHARLEEN/Logs
/LAB/LAB-01-CHARLEEN/obj
/LAB/LAB-01-CHARLEEN/Temp
/LAB/LAB-01-CHARLEEN/UserSettings
/LEC/Activities/Logs
/LEC/Activities/Temp
*.log
/LAB/.vs
/LAB/Library
/LAB/obj
/LAB/Temp
/LAB/UserSettings
/LEC/Activities/UserSettings
/LEC/Activities/.vs
